.main-container {
    display: flex;
    
}

.input-container {
    width: 100%;
}

.image-container {
    margin-top: 10%;
    margin-left: 30%;
    align-items: center;
}

.image {
    max-width: 640px;
    height: auto;
}

.video-container {
    max-height: 960px;
}

